<div [ngClass]="{'movePanel': searchListVisible==true }">
  <app-loading *ngIf="isLoading==true"></app-loading>
  <div class="card card-container" [ngClass]="{'movePanel': searchListVisible==true }">
    <h2 style="text-align:center;">Flat Search</h2>
    <img id="profile-img" class="profile-img-card" src="../../../assets/images/lupa.png" />
    <p id="profile-name" class="profile-name-card"></p>
    <form class="form-creator">
      <input [(ngModel)]="flatBindingModel.FlatName" [ngModelOptions]="{standalone:true}" id="inputFlatName " class="form-control"
        placeholder="Flat name " required autofocus>
      <p></p>
      <input [(ngModel)]="flatBindingModel.Address" [ngModelOptions]="{standalone:true}" id="inputAddress " class="form-control "
        placeholder="Address " required>
      <p></p>
      <input [(ngModel)]="flatBindingModel.City" [ngModelOptions]="{standalone:true}" id="inputCity " class="form-control "
        placeholder="City " required>
      <p></p>
      <button class="btn btn-lg btn-primary btn-block" type="submit" (click)="searchFlat()">Search!</button>
    </form>
    <!-- /form -->
    <div class="error ">
    </div>
  </div>
  <!-- /card-container -->
</div>

<div *ngIf="listOfFlats.length==0; else flatList">
  <div class="emptyList">
    List is empty ...<br>
    <br>
    Change searching parameters!
  </div>
</div>
<ng-template #flatList>
  <div class="searchPanel scrollbar" *ngIf="searchListVisible==true" [ngClass]="{'movePanel': searchListVisible==true }">
    <div *ngFor="let flat of listOfFlats" class="row">
      <div class="col-lg-5">
        <div class="media">
          <a class="pull-left">
            <img class="media-object dp img-circle" src="/src/assets/images/house-icon.png" style="width: 100px;height:100px;">
          </a>
          <div class="media-body">
            <h3 class="media-heading">{{flat.FlatName}}
              <h5> {{flat.City}} </h5>
            </h3>
            <h4>{{flat.Address}}</h4>
            <hr style="margin:8px auto">
            <button class="btn-lg btn-success" (click)='joinToFlat(flat.Id)'>JOIN</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</ng-template>