<app-loading *ngIf="isLoading==true"></app-loading>
<nav class="navbar navbar-expand-md barBackground" style="min-height: 52px !important;">
  <div class="navbar-collapse collapse w-100">
    <ul class="navbar-nav">
      <img src="../../../assets/images/RLogo.png" style="width: 50px !important;height:50px; margin-right:-2vw; margin-left:-2vw;">
      <li class="verticalDivider"></li>
      <li class="nav-item active ">
        <a class="nav-link handPointer" (click)="noticePage()">Notice board</a>
      </li>
      <li class="verticalDivider"></li>
      <li class="nav-item active ">
        <a class="nav-link handPointer" (click)="feesPage()">Rental fees</a>
      </li>
      <li class="verticalDivider"></li>
      <li class="nav-item active ">
        <a class="nav-link handPointer" (click)="eventsPage()">Events</a>
      </li>
      <li class="verticalDivider"></li>
      <li class="nav-item active ">
        <a class="nav-link handPointer" (click)="cleaningPage()">Cleaning schedule</a>
      </li>
      <li class="verticalDivider"></li>
      <li class="nav-item active ">
        <a class="nav-link handPointer" (click)="chatPage()">Chat</a>
      </li>
      <li class="verticalDivider"></li>
    </ul>
  </div>


  <div class="mx-auto order-0">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".dual-collapse2">
      <span class="navbar-toggler-icon"></span>
    </button>
  </div>
  <div class="navbar-collapse collapse w-100 order-3 dual-collapse2">
    <ul class="navbar-nav ml-auto">
      <li class="dropdown">
        <a *ngIf="currentUser!==null" class="dropdown-toggle" data-toggle="dropdown">{{(currentUser)?.Email}}
          <span class="glyphicon glyphicon-user pull-right handPointer"></span>
        </a>
        <ul class="dropdown-menu">
          <li>
            <a class="handPointer">Account Settings
              <span class="glyphicon glyphicon-cog pull-right centerVerticaly"></span>
            </a>
          </li>
          <li class="divider"></li>
          <li>
            <a class="handPointer">User stats
              <span class="glyphicon glyphicon-stats pull-right centerVerticaly"></span>
            </a>
          </li>
          <li class="divider"></li>
          <li>
            <a class="handPointer">Messages
              <span class="badge pull-right centerVerticaly"> 42 </span>
            </a>
          </li>
          <li class="divider"></li>
          <li>
            <a class="handPointer">Favourites Snippets
              <span class="glyphicon glyphicon-heart pull-right centerVerticaly"></span>
            </a>
          </li>
          <li class="divider"></li>
          <li>
            <a class="handPointer" (click)="logout()">Sign Out
              <span class="glyphicon glyphicon-log-out pull-right centerVerticaly"></span>
            </a>
          </li>
        </ul>
      </li>
    </ul>
  </div>
</nav>