<app-flats-homepage></app-flats-homepage>
<button [ngClass]="{'disabled': listOfNotices.length>3}" class="btn btn-danger addNotice" (click)="creatorMode=true">New notice</button>

<div *ngIf="creatorMode===false; else creatorPanel" class="container" style="max-width:80vw;max-height:80vh; margin-top:5vh">
  <div *ngIf="listOfNotices.length<1" class="emptyList">
    List of notices is empty...
  </div>
  <div *ngFor="let notice of listOfNotices; let i = index" class="card notice">
    <div class="card-body">
      <div style="display: inline-block;width:180px;">
        <h4 class=" card-title " style="float:left">#{{i+1}}</h4>
        <h5 style="float:left;margin-left:125px;">
          <img *ngIf="notice.User.Email==currentUser.Email" class="card-title removeNotice" (click)="enableEditor(notice)" style="width:17px;height:17px;margin-top:2px;"
            src="../../assets/images/wrench.png " />
        </h5>
        <h4 class="card-title removeNotice" (click)="removeNotice(notice)" style="float:left;margin-left:8px;">X</h4>
      </div>
      <h2 class=" card-title " style="text-align:center; ">{{notice.Title}}</h2>
      <p style=" height:1vh "></p>
      <h4 class="card-text ">{{notice.Content}}</h4>
      <p style=" height:0.5vh "></p>
      <h6 class="card-title " style="text-align:right; ">Added by {{notice.Author}}</h6>
    </div>
  </div>
</div>
<ng-template #creatorPanel>
  <app-loading *ngIf="isLoading==true;else create "></app-loading>
  <ng-template #create>
    <div class="card card-container ">
      <h2 style="text-align:center; ">Notices Creator</h2>
      <img id="profile-img " class="profile-img-card " src="../../../assets/images/wrench.png " />
      <p id="profile-name " class="profile-name-card "></p>
      <form class="form-creator ">
        <input [(ngModel)]="noticeBindingModel.Title " [ngModelOptions]="{standalone:true} " id="inputFlatName
        " class="form-control " placeholder="Title " required autofocus>
        <p></p>
        <textarea [(ngModel)]="noticeBindingModel.Content " [ngModelOptions]="{standalone:true} " id="inputAddress
        " class="form-control contentArea " placeholder="Content " required></textarea>
        <p></p>
        <input [(ngModel)]="noticeBindingModel.Author " [ngModelOptions]="{standalone:true} " id="inputCity " class="form-control "
          placeholder="Author " required>
        <p></p>
        <div *ngIf="editMode==false">
          <button class="btn btn-lg btn-success btn-block" type="button " (click)="createNotice() ">Create!</button>
        </div>
        <div *ngIf="editMode==true;">
          <button class="btn btn-lg btn-warning btn-block" type="button " (click)="editNotice() ">Edit!</button>
        </div>
      </form>
    </div>
  </ng-template>
</ng-template>
