<div *ngIf="isActiveUser!=='none'; else login">
  <app-loading *ngIf="isLoading==true"></app-loading>
  <nav class="navbar navbar-expand-md barBackground" style="min-height: 52px !important;">
    <div class="navbar-collapse collapse w-100  order-1 order-md-0 dual-collapse2">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <a class="nav-link" (click)="logout()">Logout</a>
        </li>
      </ul>
    </div>
    <div class="mx-auto order-0">
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".dual-collapse2">
        <span class="navbar-toggler-icon"></span>
      </button>
    </div>
    <div class="navbar-collapse collapse w-100 order-3 dual-collapse2">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item">
          <a class="nav-link "> Hello {{currentUser.Email}}</a>
        </li>
      </ul>
    </div>
  </nav>
  <app-flats-init-panel></app-flats-init-panel>
</div>
<ng-template #login>
  <app-loginpanel></app-loginpanel>
</ng-template>
