.inputField{
  border-radius: 10px;
  outline: none;
  border: 1px solid #dddddd;
  height:5vh;
}
.utilitiesTable{
  background-color:rgb(0, 0, 0, 0.4);
  border-radius:10px;
  min-width:380px;
  display: inline-block;
  max-width:60vw;
  border-width:0.5px;
}
.editor{
  background-color:rgb(0, 0, 0, 0.4);
  border-radius:10px;
  min-width:380px;
  max-width:30vw;
  margin:0 auto;
  border-width:0.5px;
}
th{
  width:50px;
}
.panel-heading{
  background:rgb(0, 0, 0, 0.2) !important;
  color:white;
  font-family: 'Raleway' !important;
  font-size:20px;
  font-weight: 200 !important;
}
.addUtylityBtn{
  width:9vw;
  min-width:130px;
  font-size:2.2vh;
  float:right;
}

.inputField {
width:20vw;
margin-bottom:5px;
height:4vh;
}

