<div *ngIf="loginMode; else registration" class="container">
  <app-loading *ngIf="isLoading"></app-loading>
  <div class="card card-container">
    <img id="profile-img" class="profile-img-card" src="//ssl.gstatic.com/accounts/ui/avatar_2x.png" />
    <p id="profile-name" class="profile-name-card"></p>
    <div style="text-align:left;">
      <app-validator [listOfErrors]="errorList" [isErrorMessageActive]="isErrorMessageActive"></app-validator>
    </div>
    <form class="form-signin">
      <span id="reauth-email" class="reauth-email"></span>
      <input [(ngModel)]="appUser.Email" [ngModelOptions]="{standalone:true}" type="email" id="inputEmail" class="form-control"
        placeholder="Email address" required autofocus>
      <input [(ngModel)]="appUser.Password" [ngModelOptions]="{standalone:true}" type="password" id="inputPassword"
        class="form-control" placeholder="Password" required>
      <button class="btn btn-lg btn-primary btn-block btn-signin" type="submit" (click)="login()">Sign in</button>
    </form>
    <div style="padding-top:5px; font-size:14px" class="bottom text-left">
      New here?
      <a>
        <b style="color: rgb(104, 145, 162);" (click)="changeMode()">Join Us</b>
      </a>
    </div>
  </div>
</div>
<ng-template #registration>
  <app-loading *ngIf="isLoading"></app-loading>
  <div class="container">
    <div class="card card-container">
      <img id="profile-img" class="profile-img-card" src="//ssl.gstatic.com/accounts/ui/avatar_2x.png" />
      <p id="profile-name" class="profile-name-card"></p>
      <div style="text-align:left;">
        <app-validator [listOfErrors]="errorList"></app-validator>
      </div>
      <form class="form-signin">
        <span id="reauth-email" class="reauth-email"></span>
        <input [(ngModel)]="appUser.Email" [ngModelOptions]="{standalone:true}" type="email" id="inputEmail" class="form-control"
          placeholder="Email address" required autofocus>
        <input [(ngModel)]="appUser.Password" [ngModelOptions]="{standalone:true}" type="password" id="inputPassword"
          class="form-control" placeholder="Password" required>
        <input [(ngModel)]="appUser.ConfirmPassword" [ngModelOptions]="{standalone:true}" type="password" id="inputConfirmedPassword"
          class="form-control" placeholder="Confirm password" required>
        <button class="btn btn-lg btn-primary btn-block btn-signin" type="submit" (click)="register()">Sign up</button>
      </form>
    </div>
  </div>
</ng-template>