<div class="container">
  <div class="row">
    <svg viewBox="0 100 960 300">
      <symbol id="s-text">
        <text text-anchor="middle" x="50%" y="80%">
          Roommates</text>
      </symbol>
      <g class="g-ants">
        <use xlink:href="#s-text" class="text-copy"></use>
        <use xlink:href="#s-text" class="text-copy"></use>
        <use xlink:href="#s-text" class="text-copy"></use>
        <use xlink:href="#s-text" class="text-copy"></use>
        <use xlink:href="#s-text" class="text-copy"></use>
      </g>
    </svg>
  </div>
</div>

<section id="contact">
  <div class="section-content">
    <h2>Hello, it look's like you are homeless. Choose one of below options
    </h2>
  </div>
  <div class="contact-section">
    <div class="container">
      <form>
        <div class="col-md-6 form-line">
          <div class="form-group">
            <label style="padding-left:12vw;">Create new flat</label>
          </div>
          <div class="form-group ">
            <img src="../../../assets/images/createFlat.png" style="padding-left:9vw;">
          </div>
        </div>
        <div class="col-md-6 ">
          <div class="form-group ">
            <label style="padding-left:12vw; ">Join to existing flat</label>
          </div>
          <div class="form-group ">
            <img src="../../../assets/images/searchFlat.png" style="padding-left:12.3vw;">
          </div>
          <div>
            <button type="button " class="btn btn-default submit "></button>
          </div>
        </div>
      </form>
    </div>
  </div>
</section>
