/* You can add global styles to this file, and also import other style files */

.background
{
  background-image: url("./assets/background.jpg");
  filter: blur(0px);
  position:absolute;
  background-size: 100% 100%;
  top:0;
  left:0;
  right:0;
  bottom:0;
  z-index:-1;
}
.body{
  margin:0px;
}
